<!doctype html>
<html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<table>
<tr><th></th></th><th>Color</th><th>Hex</th><th>Count</th><th colspan="2"># packs</th></tr>
{% for hex, count in color_count|dictsort %}
<tr>
<td><input type="checkbox"/></td>
<td style="width: 50px; background-color: #{{hex}}"><img src="/static/{{hex}}.png"/></td>
<td>#{{hex|safe}}</td>
<td style="width: 30px">{{count|safe}}</td>
<td style="width: 70px">{{count/320}}</td>
<td style="width: 70px">{{count//320 + 1}}</td>
</tr>
{% endfor %}
</table>
Total: {{total}}
<br>
<img src="/static/{{out_filename}}" />
</body>
</html>